<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Portfolio">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Portfolio</title>

		<link rel="stylesheet" href="{{ asset('css/portfolio.css') }}">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	</head>


	<body>

		{% block body %}

			<header class="bg-dark my-auto">

				<h1 class="text-center">Viviane Janer</h1>
				<h2 class="text-center mb-5">Développeur Web</h2>
			</header>

			<main>

				{# menu #}
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="{{ path("home") }}">Portfolio</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="{{ path("home") }}">Accueil</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Compétences</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Formations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Projet</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Me contacter</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Admin Connexion</a>
							</li>

						</ul>

					</div>

				</nav>
			{% endblock %}


			<footer class=" my-auto">
				<div class="container-fluid">
					<div class="row text-center text-white ">

						<div class="col-md-4  my-auto ">
							<p class="font-weight-bold ml-5">Portfolio</p>
							<p class="dropdown-divider"></p>
							<ul>
								<li class="font-italic">
									<a href="">Projet</a>
								</li>
								<li class="font-italic">
									<a href="">Compétences</a>
								</li>
								<li class="font-italic">
									<a href="">A propos</a>
								</li>
								<li class="font-italic">
									<a href="">Contactez-moi</a>
								</li>
								<li class="font-italic">
									<a href="">Admin</a>
								</li>
							</ul>
						</div>

						<div class="col-md-4 p-5 my-auto">
							<span class="logo"><img src="{{ asset('image/logo.png') }} " alt="logo "></span>

						</div>

						<div class="col-md-4 p-5 ">
							<p class="font-weight-bold mr-4">Mes Coordonées</p>
							<p class="dropdown-divider"></p>
							<p>1 Route de Belleville</p>
							<p>91190 Gif-sur-Yvette</p>
							<p>06.10.34.42.49</p>
							<p>fish.design.co@gmail.com</p>
						</div>

					</div>

					<div class="row">
						<div class="col-12 text-center py-3 text-white">
							<p>
								{{ copyright|raw }}
							</p>

						</div>
					</div>
				</div>
			</footer>


			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</body>
</html>
