<p>
	<b>coordonées du contact:</b>
	<ul>
		<li>Nom :
			{{nom|upper}}
			{{prenom}}</li>
		<li>Email :
			{{email}}</li>
	</ul>
</p>
<p>Objet :
	{{objet}}</p>

<p>
	<b>Message :
		{{message}}</b>
</p>

<p>{{message|nl2br}}</p>
